.homeProduct {
    padding: 25px 0px;
}

.filtertab li {
    margin-left: 15px;
}

.filtertab li a {
    color: #000;
    text-decoration: none;
    font-size: 15px;
    transition: all 0.3s ease-in-out;
    position: relative;
}

.filtertab li:hover a {
    color: #3bb77e !important;
    transform: translateY(-10px);
}

.homeProduct .productRow {
    display: flex;
    padding: 30px 0px;
    margin: 0px 0px;
    flex-wrap: wrap;
}

.homeProduct .productRow .item {
    width: 20%;
    padding: 5px 7px;
}

.homeProductRow2 .productSlider .item {
    padding: 5px 10px !important;
}

.topProductsSection {
    padding: 30px 10px;
}

.newsLetterSection {
    width: 100%;
    height: auto;
    padding: 10px 0px;
}

.newsLetterSection .box {
    background: url('../../assets//images/bg.png');
    width: 100%;
    height: auto;
    padding: 40px 110px;
    border-radius: 30px;
    overflow: hidden;
}

.newsLetterSection .box .info {
    width: 55%;
}

.newsLetterSection .box .info h2 {
    font-size: 35px;
    font-weight: 600;
    line-height: 70px;
    opacity: 0.8;
}

.newsLetterSection .box .info p {
    font-size: 22px;
    opacity: 0.8;
}

.newsLetterSection .box .img {
    width: 45%;
}

.newsLetterSection .box .img img {
    position: relative;
    top: 51px;
}

.newsLetterSection .box .newsletterBanner {
    position: relative !important;
    left: 0px !important;
    bottom: inherit !important;
}